form{
    text-align: center;
    margin:auto;
    padding:10px;
}


.submission-line_input {
    padding-left: 10px;
    height: 44px;
    width: 25%;
    border: none;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.3rem;
}


.submission-line_input::placeholder {
    color: rgba(0, 0, 0, 0.38);
}

.submission-line_input:focus {
    outline: none;

}

.submission-line_btn {
    height: 44px;
    width: 10%;
    background: #FFC107;

    border: none;
    font-size: 1.3rem;
    color: #fff;
}

.submission-line_input,
.submission-line_btn {
    margin-bottom: 16px;
}





