

.item-div{
    display:flex;
    justify-content: center;
    font-size: 1.3rem;
    padding: -20px;
    width:300px;
    color: #FFFFFF;
    height: 40px;

}

.item-ingredient,.item-amount,.item-unit{
    display:inline;
    margin: auto;
}

.recipe-delete-button{
    display:inline;
    margin:auto;
}









