header {
    padding: 20px 0 10px 0;
    background: #4527A0;
    text-align: center;
}


.header_title{
    margin: 0;
    padding-bottom: 0;
    font-family: "Hind", "Arial", "Helvetica", "sans-serif";
    font-size: 3.49rem;
    font-weight: 300;
    color: #FFFFFF;
 }