.ShoppingList {
    text-align: center;
}

.ShoppingList-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.ShoppingList-link {
    color: #61dafb;
}


main{
    background: #C3A6A0;
    position: fixed;
    width: 100%;
    height: 100%;
}



