.item-container{
    border:3px ;
    padding: 20px;
}

.item-name{
    width: 50%;
    float: left;
    padding: 20px;

}


button {
    background: transparent;
    border: none;
    margin: 3px;
    color: #ec645b;
}
button:focus {
    outline: 0;
}

button:hover {
    cursor: pointer;
}

.isSelected{
    text-decoration: line-through;
}

