.item-list{
    padding: 0;
    list-style-type: none;
    clear: both;
    margin:auto;
    text-align: center;
}



.item-name-quantity-even,.item-name-quantity-odd {
    font-size: 1.3rem;
    margin:auto;
    width:300px;
    color: #FFFFFF;
    height: 30px;
    padding: 10px;
    text-align: center;
}



.item-name-quantity-even{
    background: #673AB7;
}

.item-name-quantity-odd{
    background: #4527A0;
}


.quantity-update-button {
    background: transparent;
    border: none;
    color: #ec645b;
}


.quantity-update-button:focus {
    outline: 0;
}

.quantity-update-button:hover {
    cursor: pointer;
}

span.isSelected{
    background: #D1C4E9;
    color: rgba(0, 0, 0, 0.38);
    text-decoration: line-through;
    display:inline;


}

span.notSelected{
    display:inline;
}

.item-logo-section{
    display:inline;
    margin:auto;
    padding: 10px;

}
.item-logo-section img{
    display:inline;
    width:15px;
    height:15px;
    margin:auto;
}

span.item-delete-button{
    display:inline;
    float:left;
}

span.item-quantity-button{
    display:inline;
    float:right;
}

