.item-list{
    padding: 0;
    list-style-type: none;
    clear: both;
    margin:auto;
    text-align: center;
}



.item-store-Aldi,.item-store-AsianMarket,.item-store-AsianMarket,.item-store-TraderJoe,.item-store-Walmart,
.item-store-Wegmans,.item-store-Others {
    font-size: 1.3rem;
    margin-top:10px;
    width:300px;
    color: #FFFFFF;
    height: 30px;
    padding: 10px;
    text-align: center;
}



.item-name-quantity-even{
    background: #673AB7;
}

.item-name-quantity-odd{
    background: #4527A0;
}

.item-store-Aldi{
    background: #ED5314;

}

.item-store-AsianMarket{
    background:#FFB92A;

}

.item-store-TraderJoe{
    background:#255E79;

}

.item-store-Walmart{
    background:#C2549D;

}

.item-store-Wegmans{
    background:#75C2B0

}

.item-store-Others{
    background:#FFC8B3

}


.quantity-update-button {
    background: transparent;
    border: none;
    color: #ec645b;
}


.quantity-update-button:focus {
    outline: 0;
}

.quantity-update-button:hover {
    cursor: pointer;
}

span.isSelected{
    background: #D1C4E9;
    color: rgba(0, 0, 0, 0.38);
    text-decoration: line-through;
    display:inline;


}

span.notSelected{
    display:inline;
}

.item-logo-section{
    display:inline;
    margin:auto;
    padding: 10px;

}
.item-logo-section img{
    display:inline;
    width:15px;
    height:15px;
    margin:auto;
}

span.item-delete-button{
    display:inline;
    float:left;
}

span.item-quantity-button{
    display:inline;
    float:right;
}

